<div>
    <h1>Portfolio</h1>
</div>
<div id="portfolio">

    <figure>
        <img src="./images/typographical.jpg" alt="Typographical Poster" />
        <figcaption>Typographical Poster</figcaption>
    </figure>
    <figure>
        <img src="./images/camera.JPG" alt="In-studio Photography" />
        <figcaption>In-studio Photography</figcaption>
    </figure>
    <figure>
        <img src="./images/corridor.jpg" alt="Lines Photography" />
        <figcaption>Lines Photography</figcaption>
    </figure>
    <figure>
        <img src="./images/tree.JPG" alt="Nature Photography" />
        <figcaption>Nature Photography</figcaption>
    </figure>
    <figure>
        <img src="./images/potrait.JPG" alt="Potrait Photography" />
        <figcaption>Potrait Photography</figcaption>
    </figure>
    <figure>
        <img src="./images/trees-snow.JPG" alt="Nature Photography" />
        <figcaption>Nature Photography</figcaption>
    </figure>
</div>
